.blog {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  .author{
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .blog h2 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    font-style: italic;
  }
  
  .image img{
    width: 30rem;
    border-radius: 10px;
  }

  .btn{
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 9px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}


/* Media Queries */
@media (max-width: 768px) {
  .blog {
    flex-direction: column-reverse;
    justify-content: center;
    
  }

  .leftContent,
  .rightContent {
    width: 100%;
  }

  .rightContent {
    margin-top: 20px;
    height: 300px;
  }

  .leftContent h1 {
    font-size: 72px;
  }
}

@media (max-width: 480px) {
  .btn {
    font-size: 14px;
  }

  .leftContent h1 {
    font-size: 48px;
  }
}