.blog {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  .blogInfo{
    
  }
  .author{
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .blog h2 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    font-style: italic;
  }
  
  .image img{
    width: 30rem;
    border-radius: 10px;
  }

  .btn{
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 9px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}