*{
    margin: 0;
    padding: 0;
}
.btn{
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 9px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}
.banner{
    margin: 0;
    /* background-color: #FFC017; */
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.leftContent{
   width: 37.75rem;
}

.leftContent p{
    margin-top: 20px;
}
.leftContent h1{
    font-size: 106px;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
}

.rightContent{
    background: url('https://storage.googleapis.com/pai-images/11ec09ef70c64b5e9e4847953c654854.jpeg');
    height: 400px;
    width:585px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: right 0px bottom -423px;
    border-radius:33px
}

.aboutUsWrap{
    padding: 112px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 80%;
    margin: auto;
}

.aboutUsWrap h2{
    font-size: 40px;
    text-align: center;
}


.aboutUsWrap p{
    font-size: 18px;
    line-height: 1.6em;
    color: #444444;
    font-weight: 400;
}