.blogs ul{
    list-style: none;
    font-size: 24px;
}

.container{
    max-width: 85%;
    margin: auto auto;
    margin-top: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}