.card{
    width: 400px;
    overflow: hidden;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 3px 10px 0px #0000006e;

}
.card img{
    width: 100%;
    height: 300px;
}

.cardInfo{
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}


.button{
    padding: 10px 20px;
    font-size: 12px;
    background: none;
    border: 1px solid black;
    color: black;
    margin: 0;
    cursor: pointer;
}


  